

@{
    ViewBag.Title = "Final Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron2">
    <div class="body-section3">
        <h3>Final Task: Creating a form applying everything we've learnt!</h3>
        <p>
            Congratulations! You've finally reached the last part of this course.
        </p>
        <p>
            This final task will provide you with a great chance to wrap up all you've learnt within the three units of this course.
            By know, you should know how to use different form elements, types, structures, and you should also know how to validate
            user's input within mandatory fields and post the action to a destination.
        </p>
        <h3>Task Guidelines:</h3>
        <p>
            <strong>Suppose you work as a web developer for an organisation which needs a form on their website to register new customers.</strong>
        </p>
        <p>
            This organisation sells online magazines and needs to capture some pieces of information about their customers.
            This company also wants to allow their users to log into their personal accounts, so creating a password will also be needed.
        </p>
        <p>
            You've been given the following instructions to build this form:
        </p>
        <p><strong>Form content:</strong></p>
        <ol>
            <li>First Name >> mandatory field</li>
            <li>Family Name >> mandatory field</li>
            <li>Date of Birth >> mandatory field</li>
            <li>Address >> mandatory field</li>
            <li>Post Code >> mandatory field</li>
            <li>City >> mandatory field >> options: Auckland, Christchurch, Gisborne, Hamilton, Napier, Tauranga, Rotorua, Wellignton, or Whangarei</li>
            <li>Phone Number >> mandatory field</li>
            <li>Email >> mandatory field</li>
            <li>Password >> mandatory field</li>
            <li>Gender</li>
            <li>Nationality</li>
            <li>Occupation</li>
            <li>Favourite Payment Method >> mandatory field >> options: Credit Card or Direct Debit</li>
            <li>Favourite Magazine mandatory field >> options: NZ Gardener, MinFood, Women's Weekly, AutoCar or Healthy Food</li>
            <li>Submit button and a form method which posts the action to register.php</li>
        </ol>
        <p><strong>This time we won't provide an exemplar to guide you.</strong></p>
        <h4>Tips:</h4>
        <ul>
            <li>>> Design a mockup of this form before coding it.</li>
            <li>>> After designing, take some time and write down what input types and elements you'll need to use.</li>
            <li>>> Make sure you apply validation to the mandatory fields. Enforce that by setting proper type names.</li>
            <li>>> Once you think you're ready, jump to <a href="https://codepen.io/pen/">Code Pen</a> and watch your form being built live while coding.</li>
            <li>>> Revise the previous units of this course in case you need some help.</li>
        </ul>
        <br>
        <p>Have you finished? Write or copy/paste your code in the space below then submit it to us for grading.</p>
        <p><strong>Happy Coding!</strong></p>
        <form method="post">
            <textarea cols="50" rows="10" name="answer">Write your code here... </textarea>
            </br>
            <p><input type="submit" name="buttonSubmit" value="Send my code!" /></p>
        </form>

    </div>
</div>




