@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NETWIDE Learning</h1>
    <p class="lead">Learn HTML5 forms in a fun, interactive, and engaging way!</p>
    <p>This course is divided into three steps that will give you the knowledge you need to build forms.</p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Register now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Form Structure</h2>
        <p>
            Start off with an introduction to HTML5 Forms. Get to know the tags that are used,
            the aspects of a form, and get ready to give your first steps towards buiding your
            first HTML5 Form and become an expert!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Bringing things together</h2>
        <p>
            Once you know the basic components of a form, you'll then have the chance to learn additional
            features you can implement. You'll be able to better understand form structure and resources
            and will be given the chance to build a detailed form!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Give a step ahead</h2>
        <p>
            What happens someone fills in a form and press the submit button?
            Learn how to implement a POST method and action, and discover how to add
            validation to the data in the form. You'll then become a master in building HML5 forms!
        </p>
    </div>
</div>